@tailwind base;
@tailwind components;
@tailwind utilities;

@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

@layer components {
  .custom-checkbox {
    @apply appearance-none w-5 h-5 rounded-sm cursor-pointer border border-gray-200 bg-white rounded;
    background-image: url("/assets/check-gray.svg");
    background-size: 90% 90%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .custom-checkbox:checked {
    border-color: #0073e9;
    background-color: #0073e9;
    background-image: url("/assets/check-white.svg");
  }
}
@layer utilities {
  .right-arrow {
    @apply relative;
  }
  .right-arrow:before {
    content: "";
    position: absolute;
    left: 100%;
    margin-left: 0.3rem;
    top: 4px;

    width: 0.5rem;
    height: 0.5rem;

    transform: rotate(45deg);
    border-top: 1px solid var(--color-blue-600);
    border-right: 1px solid var(--color-blue-600);
  }

  .right-arrow-gray {
    @apply relative;
  }
  .right-arrow-gray::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 90%;

    width: 0.5rem;
    height: 0.5rem;

    transform: rotate(45deg);
    border-top: 2px solid var(--color-gray-600);
    border-right: 2px solid var(--color-gray-600);
  }
  .right-arrow-view {
    @apply relative;
  }
  .right-arrow-view::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 110%;

    width: 0.5rem;
    height: 0.5rem;
    transform: rotate(45deg);
    border-top: 1px solid var(--color-gray-800);
    border-right: 1px solid var(--color-gray-800);
  }

  .left-arrow {
    @apply relative;
  }
  .left-arrow::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    width: 0.5rem;
    height: 0.5rem;
    border-left: 1px solid var(--color-gray-800);
    border-bottom: 1px solid var(--color-gray-800);
    transform: rotate(45deg);
  }

  .down-arrow {
    @apply relative;
  }
  .down-arrow::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;

    width: 0.5rem;
    height: 0.5rem;
    border-right: 1px solid var(--color-gray-800);
    border-bottom: 1px solid var(--color-gray-800);
    transform: translateY(-50%) rotate(45deg);
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-back: #181818;
  --color-white: #ffffff;
  --color-gray-100: #f3f3f3;
  --color-gray-200: #e7e7e7;
  --color-gray-300: #dcdcdc;
  --color-gray-400: #d0d0d0;
  --color-gray-500: #c4c4c4;
  --color-gray-600: #aaa9a9;
  --color-gray-700: #767676;
  --color-gray-800: #4e4e4e;
  --color-gray-900: #272727;
  --color-blue-100: #cceafa;
  --color-blue-200: #65cde3;
  --color-blue-300: #61bfe6;
  --color-blue-400: #33abe9;
  --color-blue-500: #0096e4;
  --color-blue-600: #0074e9;
  --color-blue-700: #005a89;
  --color-blue-800: #003c5b;
  --color-blue-900: #001e2e;
  --color-opacity-20: rgba(0, 0, 0, 0.2);
  --color-red-100: #fad3d6;
  --color-red-200: #f5a7ac;
  --color-red-300: #ef7b83;
  --color-red-400: #ea4f59;
  --color-red-500: #e52330;
  --color-red-600: #b71c26;
  --color-red-700: #89151d;
  --color-red-800: #5c0e13;
  --color-red-900: #2e070a;
  --color-yellow-100: #fef2d9;
  --color-yellow-200: #fde4b4;
  --color-yellow-300: #fdd78e;
  --color-yellow-400: #fcc969;
  --color-yellow-500: #fbbc43;
  --color-yellow-600: #ff9b05;
  --color-yellow-700: #977128;
  --color-yellow-800: #644b1b;
  --color-yellow-900: #32260d;
  --color-green-100: #f4f5d2;
  --color-green-200: #e9eba5;
  --color-green-300: #dde177;
  --color-green-400: #d2d74a;
  --color-green-500: #c7cd1d;
  --color-green-600: #9fa417;
  --color-green-700: #00b599;
  --color-green-800: #50520c;
  --color-green-900: #282906;
  --color-brown-100: #dfd5d4;
  --color-brown-200: #bfaba9;
  --color-brown-300: #9d7a6d;
  --color-brown-400: #7e5852;
  --color-brown-500: #5e2e27;
  --color-brown-600: #4b251f;
  --color-brown-700: #381c17;
  --color-brown-800: #261210;
  --color-brown-900: #130908;
  --color-purple-100: #dfd8f2;
  --color-purple-200: #beb0e6;
  --color-purple-300: #9e89d9;
  --color-purple-400: #7d61cd;
  --color-purple-500: #5d3ac0;
  --color-purple-600: #4a2e9a;
  --color-purple-700: #382373;
  --color-purple-800: #25174d;
  --color-purple-900: #130c26;

  --color-peach-100: #fff5f3;
  --color-peach-200: #ffe0db;
  --color-peach-300: #ffcfc7;
  --color-peach-400: #ffb5aa;
  --color-peach-500: #ff998a;
  --color-peach-600: #ea6f63;
  --color-peach-700: #d95a4f;
  --color-peach-darker: #d6453d;
}

/* 사용자 정의 테마 (주의: @theme은 Tailwind 문법이 아님) */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/
